<div class=“container mt-5”>
  <div class=“row”>
    <h1> List of movies </h1>
    <div class=“col-6 mx-auto”>
    <ul>
      <% @lists.each do |list| %>
        <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
        <li><%= link_to list.name, list_path(list)%></li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
